
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Nube Colectiva">
    <link rel="shortcut icon" href="https://nubecolectiva.com/favicon.ico" />

    <meta name="theme-color" content="#000000" />

    
  
    <title>Como crear un CRUD con Ruby on Rails 6 y Bootstrap 4 </title>

  </head>

  <body>
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="https://nubecolectiva.com"><img src="https://nubecolectiva.com/img/logo.png" class="img-fluid"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
              <a class="nav-link" href="https://nubecolectiva.com">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://blog.nubecolectiva.com" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacto</a>
            </li> 
            </ul>

          </div>
        </div>
      </nav>
    </header>

    <div class="pccp mb-3 mtpnc" align="center">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                
      <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-2390065838671224"
                     data-ad-slot="1441100372"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    <main role="main">

        <div class="container text-center mt-5">

          <!-- Contenido -->

          <div class="row">

            <div class="col-md-12">

                <h1 style="font-size: 28px;" class="mb-4">Como crear un CRUD con Ruby on Rails 6 y Bootstrap 4 </h1>

                
                <div class="header">
                   <div class="container">
                      <div class="row">
                         <div class="col-md-5">
                            <!-- Logo -->
                            <div class="logo">
                               <h2><a href="https://nubecolectiva.com/blog/tutos/demos/laravel56/public/admin/dashboard">Administrador</a></h2>
                            </div>
                         </div>
                         <div class="col-md-5">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="input-group form">
                                     <!--
                                     <input type="text" class="form-control" placeholder="Buscar...">
                                     <span class="input-group-btn">
                                       <button class="btn btn-primary" type="button">Buscar</button>
                                     </span>
                                     -->
                                </div>
                              </div>
                            </div>
                         </div>
                         <div class="col-md-2">
                            <div class="navbar navbar-inverse" role="banner">
                                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                                  <ul class="nav navbar-nav">
                                    <li><a href="https://nubecolectiva.com/blog/tutos/demos/laravel56/public/dashboard">Administrador</a></li>
                                  </ul>
                                </nav>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>

                <div class="page-content">
        <div class="row">
          
          <div class="col-md-2">
            <div class="sidebar content-box" style="display: block;">

              <ul class="list-group">
                  <li class="list-group-item">
                    <a href="https://nubecolectiva.com/blog/tutos/demos/laravel56/public/admin/dashboard"> Dashboard</a>
                  </li>
                  <li class="list-group-item">
                    <a href="https://nubecolectiva.com/blog/tutos/demos/laravel56/public/admin/postres"> Postres</a>
                  </li>
                  <li class="list-group-item">
                    Opción 1
                  </li>
                  <li class="list-group-item">
                    Opción 2
                  </li>
                  <li class="list-group-item">
                    Opción 3
                  </li>
                  <li class="list-group-item">
                    Opción 4
                  </li>
                  <li class="list-group-item">
                    Opción 5
                  </li>
                  <li class="list-group-item">
                    Opción 6
                  </li>
                  <li class="list-group-item">
                    Opción 7
                  </li>
                  <li class="list-group-item">
                    Opción 8
                  </li>
                  <li class="list-group-item">
                    Opción 9
                  </li>
                  <li class="list-group-item">
                    Opción 10
                  </li>
              </ul>
            </div>
          </div>
        
            <div class="col-md-10">

              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="https://nubecolectiva.com/blog/tutos/demos/laravel56/public/admin/dashboard">Home</a></li>
                  <li class="breadcrumb-item"><a href="https://nubecolectiva.com/blog/tutos/demos/laravel56/public/admin/postres">Postres</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Actualizar</li>
                </ol>
              </nav>
              
              <div class="row">

                <div class="col-md-12" align="left">
                        <div class="content-box-large">
                          <div class="panel-heading">
                          <div class="panel-title"><h2>Actualizar</h2></div>              
                          
                        </div>
                          <div class="panel-body">

                            

                            

                          
                                                <div class="card-block">
                                                    <section class="example">

                                                    	<% @postres.each do |postres| %>

                                                      <form method="POST" action="/postres/editar/<%= postres.id %>" accept-charset="UTF-8" role="form" id="actualizarpostre" name="actualizarpostre" enctype="multipart/form-data">

                                                        <!-- Protección CSRF -->
                                                        <%= token_tag nil %>

                                                        <div class="row">
    <div class="col-md-12">
        <section class="panel">                        
            <div class="panel-body">

                <div class="form-group">
                  <label for="nombre" class="negrita">Nombre:</label>                          
                  <div>
                    <input class="form-control" placeholder="Torta de Chocolate" name="nombre" type="text" id="nombre" onload="crearUrlAmigable(this.value);" onkeypress="crearUrlAmigable(this.value);" value="<%= postres.nombre %>" required>                              
                  </div>
                </div>

                <div class="form-group">
                  <label for="precio" class="negrita">Precio:</label>                          
                  <div>
                    <input class="form-control" placeholder="4.50" name="precio" type="text" id="precio" value="<%= postres.precio %>" required>                              
                  </div>
                </div>

                <div class="form-group">
                  <label for="stock" class="negrita">Stock:</label>                          
                  <div>
                    <input class="form-control" placeholder="40" name="stock" type="text" id="stock" value="<%= postres.stock %>" required>                              
                  </div>
                </div>

                <div class="form-group">
                  <label for="img" class="negrita">Selecciona una imagen:</label>                          
                  <div>
                  <input class="form-control" type="file" name="img" id="img" onchange="ona()">
                  <br><br> 
                  
                    Imagen Actual:
                    <br><br>
                    <img src="/assets/img/<%= postres.img %>" class="img-fluid" title="<%= postres.nombre %>" alt="<%= postres.nombre %>">
                  
                  </div>
                </div>

                <div class="form-group">
                  <label for="url" class="negrita">URL:</label>                          
                  <div>
                    <input type="text" class="form-control" name="url" id="url" value="<%= postres.url %>" readonly>
                  </div>
                </div>

                <button type="submit" class="btn btn-info">Guardar</button>
                <%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>

                <br><br>
              
            </div>
        </section>
    </div>
</div>                                                      
                                                      </form>

                                                      <% end %> 
                                                        
                                                    </section>
                                                </div>
                                            


                          </div>
                        </div>
                </div>

              </div>

            </div>

      </div>
      </div>              

            </div>

          </div> 

          <!-- Fin Contenido -->     

          <hr>

          <div class="row text-center">

            <div class="col-md-12">

              <p class="lead">En <a href="https://nubecolectiva.com/" target="_blank"> Nube Colectiva </a> hablamos sobre:</p>

            </div>

          </div>

          <div class="row text-center">

              <div class="col-md-3">
                <h3>Frontend</h3>
                <a href="https://blog.nubecolectiva.com/category/frontend/" target="_blank">
                  <img class="img-fluid" src="https://blog.nubecolectiva.com/wp-content/uploads/2018/11/img_destacada_blog_devs-11-300x169.png">
                </a>
              </div>

              <div class="col-md-3">
                <h3>Backend</h3>                
                <a href="https://blog.nubecolectiva.com/category/backend/" target="_blank">
                  <img class="img-fluid" src="https://blog.nubecolectiva.com/wp-content/uploads/2018/11/img_destacada_blog_devs-8-300x169.png">
                </a>
              </div>              

              <div class="col-md-3">
                <h3>Android</h3>
                <a href="https://blog.nubecolectiva.com/category/android/" target="_blank">
                  <img class="img-fluid" src="https://blog.nubecolectiva.com/wp-content/uploads/2018/11/img_destacada_blog_devs-9-300x169.png">
                </a>
              </div>

              <div class="col-md-3">
                <h3>Otros</h3>
                <a href="https://blog.nubecolectiva.com/category/articulos/" target="_blank">
                  <img class="img-fluid" src="https://blog.nubecolectiva.com/wp-content/uploads/2018/09/edit_img_destacada_blog_devs-300x169.png">
                </a>
              </div>

          </div>            
          
        </div>

    </main>


        <footer class="text-muted mt-3 mb-3">
        <div align="center">
          Desarrollado por <a href="https://www.nubecolectiva.com" target="_blank">Nube Colectiva</a>
      </div> 
    </footer>



                <script type="text/javascript">

                  function crearUrlAmigable(str) {
                    
                    //replace all special characters | symbols with a space
                    str = str.replace(/[`~!@#$%^&*()_\-+=\[\]{};:'"\\|\/,.<>?\s]/g, ' ').toLowerCase();
                    
                    // trim spaces at start and end of string
                    str = str.replace(/^\s+|\s+$/gm,'');
                    
                    // replace space with dash/hyphen
                    str = str.replace(/\s+/g, '-');

                    var input = document.getElementById('url');
                    input.value = str;

                  }
                  
                </script>
    
      
  </body>
</html>
